.titulo{
position: absolute;
background: url(si.png);
top: 4%;
left: 0%;
height: 140px;
width: 1366px;
}

.horse{
position: absolute;
left: 15%;
}
.horse2{
position: absolute;
left: 80%;
}

.a1{
position: absolute;
top: 35%;
left: 5%;
background: #80FAE9;
width: 20%;
height: 11%;
font: oblique bold 250% cursive;
}
.a11{
display: block;
position: absolute;
top: 30%;
left: 9%;
width: 1096px;
height: 622px;
font: oblique bold 200% cursive;
background: url(sem1.png);
}

.batras{
display: block;
position: absolute;
top: 31%;
left: 84%;
width: 63px;
height: 63px;
background: url(b3.png);
}

.button1{
position: absolute;
top: 90%;
left: 40%;
background: #9A99FC;
width: 20%;
height: 7%;
border-radius: 20px;
font: oblique bold 160% cursive;
text-decoration: none;
}
.button{
display: none;
}

.cuadroa1{
display: none;
}

.cuadroa11{
position: absolute;
background-color: pink;
top: 29%;
left: 8%;
width: 1103px;
height: 616px;
}