.titulo{
position: absolute;
background: url(si.png);
top: 4%;
left: 0%;
height: 140px;
width: 1366px;
}

.horse{
position: absolute;
left: 15%;
}
.horse2{
position: absolute;
left: 80%;
}

.a1{
position: absolute;
top: 35%;
left: 5%;
background: #80FAE9;
width: 20%;
height: 11%;
font-size: 50px;
font-family: Rockwell;
}
.a11{
display: block;
position: absolute;
top: 30%;
left: 9%;
background: red;
width: 1096px;
height: 622px;
font-size: 50px;
font-family: Rockwell;
background: url(sem1.png);
}

.batras{
display: block;
position: absolute;
top: 31%;
left: 84%;
width: 63px;
height: 63px;
background: url(b3.png);
}

.button1{
position: absolute;
top: 90%;
left: 40%;
background: #9A99FC;
width: 20%;
height: 7%;
font-size: 30px;
border-radius: 20px;
font-family: Rockwell;
text-decoration: none;
}
